APPCONFIG_CONNECTION_STRING=Connection string from https://portal.azure.com/#@seanwoodwardintertech.onmicrosoft.com/resource/subscriptions/780c6add-cef4-4976-bbf3-eafaaa551b3c/resourceGroups/rg-sw-storage-todos-demo-001/providers/Microsoft.AppConfiguration/configurationStores/app-config-storage-todos-demo/keys
ASPNETCORE_ENVIRONMENT=Development